[hpfeeds]
ident =
secret =
hp_host = localhost
hp_port = 20000
channels = amun.events,conpot.events,thug.events,beeswarm.hive,dionaea.capture,thug.files,beeswarn.feeder,cuckoo.analysis,kippo.sessions,cowrie.sessions,glastopf.events,glastopf.files,mwbinary.dionaea.sensorunique,wordpot.events,shockpot.events,p0f.events,suricata.events,elastichoney.events

[cifv3]
cif_token =
cif_host = http://cifv3:5000
cif_provider = chn