#!/bin/bash

trap "exit 130" SIGINT
trap "exit 137" SIGKILL
trap "exit 143" SIGTERM

source {{ sysconfig_dir }}/hpfeeds-cif
export $PYTHONPATH



cd {{ hpfeeds_cif_dir }}
if [[ ! -f ./hpfeeds-cif.cfg ]]
then
    IDENT='hpfeeds-cif-${RANDOM}'
    SECRET=`python -c 'import uuid;print str(uuid.uuid4()).replace("-","")'`
    CHANNELS='amun.events,conpot.events,thug.events,beeswarm.hive,dionaea.capture,dionaea.connections,thug.files,beeswarn.feeder,cuckoo.analysis,kippo.sessions,cowrie.sessions,glastopf.events,glastopf.files,mwbinary.dionaea.sensorunique,snort.alerts,wordpot.events,p0f.events,suricata.events,shockpot.events,elastichoney.events,rdphoney.sessions,uhp.events'

    # Change into the HPFeeds dir, it's needed for hpfeeds scripts
    pushd {{ hpfeeds_dir }}/hpfeeds/broker/

    # Generate config file for hpfeeds broker and try to register
    # Exit if failed
    python {{ hpfeeds_dir }}/hpfeeds/broker/generateconfig.py unattended --mongo_host ${MONGODB_HOST} --mongo_port ${MONGODB_PORT} || exit 1
    python {{ hpfeeds_dir }}/hpfeeds/broker/add_user.py "$IDENT" "$SECRET" "" "$CHANNELS" || exit 1

    # Change back to {{ hpfeeds_cif_dir }} directory
    popd

    cp ./hpfeeds-cif.cfg.template ./hpfeeds-cif.cfg

    sed -i "s/ident *=.*/ident = ${IDENT}/g" {{ hpfeeds_cif_dir }}/hpfeeds-cif.cfg
    sed -i "s/secret *=.*/secret = ${SECRET}/g" {{ hpfeeds_cif_dir }}/hpfeeds-cif.cfg
    sed -i "s/channels *=.*/channels = ${CHANNELS}/g" {{ hpfeeds_cif_dir }}/hpfeeds-cif.cfg
fi

sed -i "s/hp_host *=.*/hp_host = ${HPFEEDS_HOST}/g" {{ hpfeeds_cif_dir }}/hpfeeds-cif.cfg
sed -i "s/hp_port *=.*/hp_port = ${HPFEEDS_PORT}/g" {{ hpfeeds_cif_dir }}/hpfeeds-cif.cfg
sed -i "s%cif_host *=.*%cif_host = ${CIF_HOST}%g" {{ hpfeeds_cif_dir }}/hpfeeds-cif.cfg
sed -i "s/cif_token *=.*/cif_token = ${CIF_TOKEN}/g" {{ hpfeeds_cif_dir }}/hpfeeds-cif.cfg
sed -i "s/cif_provider *=.*/cif_provider = ${CIF_PROVIDER}/g" {{ hpfeeds_cif_dir }}/hpfeeds-cif.cfg
sed -i "s/cif_tlp *=.*/cif_tlp = ${CIF_TLP}/g" {{ hpfeeds_cif_dir }}/hpfeeds-cif.cfg
sed -i "s/cif_confidence *=.*/cif_confidence = ${CIF_CONFIDENCE}/g" {{ hpfeeds_cif_dir }}/hpfeeds-cif.cfg
sed -i "s/cif_tags *=.*/cif_tags = ${CIF_TAGS}/g" {{ hpfeeds_cif_dir }}/hpfeeds-cif.cfg
sed -i "s/cif_group *=.*/cif_group = ${CIF_GROUP}/g" {{ hpfeeds_cif_dir }}/hpfeeds-cif.cfg
sed -i "s/cif_verify_ssl *=.*/cif_verify_ssl = ${CIF_VERIFY_SSL}/g" {{ hpfeeds_cif_dir }}/hpfeeds-cif.cfg
sed -i "s/include_hp_tags *=.*/include_hp_tags = ${INCLUDE_HP_TAGS:-False}/g" {{ hpfeeds_cif_dir }}/hpfeeds-cif.cfg
sed -i "s%ignore_cidr *=.*%ignore_cidr = ${IGNORE_CIDR}%g" {{ hpfeeds_cif_dir }}/hpfeeds-cif.cfg

cd {{ hpfeeds_cif_dir }}
echo "Starting hpfeeds cif..."
exec /usr/bin/env python {{ hpfeeds_cif_dir }}/hpfeeds-cif/feedhandler.py {{ hpfeeds_cif_dir }}/hpfeeds-cif.cfg
